* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
    font-weight: 900;
}

body {
    background: linear-gradient(to right, #9bafd9, #103783);
}

h1 {
    font-size: 5vw;
    text-align: center;
    margin-top: 10px;
    color: #EAEFFE;
}

.options {
    width: 100%;
    height: 15em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2em;
}

.circle {
    border: 2px solid #2D274B;
    width: 7em;
    height: 7em;
    border-radius: 50em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px black;
    cursor: pointer;
    font-size: 30px;
    background: linear-gradient(145deg, #0061ff, #60efff);
    color: #EAEFFE;
}

.circle:active {
    box-shadow: none;
}


input {
    width: 60px;
    height: 60px;
    padding: 6px 10px;
    border: 2px solid #2D274B;
    font-size: 2.5em;
    text-align: center;
    background: transparent;
    outline: none;
    color: #EAEFFE;
}

p {
    display: inline;
    font-size: 40px;
    color: #EAEFFE;
}

.score {
    width: 100%;
    height: 10em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1em;
}


.score1,
.score2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px
}

.result {
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#result {
    font-size: 2em;
    text-align: center;
    color: #EAEFFE;
}

#reset {
    width: 15em;
    height: 3em;
    border-radius: 30px;
    border: 1px solid black;
    box-shadow: 3px 3px 10px black;
    cursor: pointer;
    font-size: 1em;
    color: #EAEFFE;
    background: linear-gradient(145deg, #0061ff, #60efff);
}

#reset:active {
    box-shadow: none;
}

@media (max-width: 768px) {
    h1{
        font-size: 3rem;
    }
    .circle {
        width: 180px;
        height: 180px;
    }

    #reset {
        width: 13em;
        height: 3em;
    }
}

@media (max-width:620px) {
    h1 {
        flex-wrap: wrap;
    }

    .circle {
        width: 150px;
        height: 150px;
    }

    #reset {
        width: 10em;
        height: 3em;
    }
}

@media (max-width:590px) {
    h1{
        flex-wrap: wrap;
    }
    .circle {
        width: 130px;
        height: 130px;
    }

    #reset {
        width: 7em;
        height: 3em;
    }

    p {
        font-size: 35px;
    }

    input {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 480px) {
    /* Mobile styles */

    h1 {
        flex-wrap: wrap;
    }

    .circle {
        width: 120px;
        height: 120px;
        font-size: 23px;
    }

    input {
        width: 20px;
        height: 20px;
        padding: 6px 10px;
        font-size: 20px;
    }

    p {
        font-size: 25px;
    }

    .score1,
    .score2 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px
    }

    #reset {
        width: 5em;
        height: 3em;
    }

    .result {
        width: 100%;
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #result {
        font-size: 1.3em;
        text-align: center;
        color: #EAEFFE;
        font-weight: 600;
    }
}

@media (max-width:390px) {
    h1{
        flex-wrap: wrap;
    }

    .circle {
        width: 100px;
        height: 100px;
        font-size: 20px;
    }

    #result {
        font-size: 1em;
        font-weight: 800;
    }
}

@media (max-width:329px) {
    h1{
        flex-wrap: wrap;
    }
    .options{
        flex-wrap: wrap;
    }
    p{
        font-size: 12px;
    }

    #reset{
        width: 70px;
        height: 40px;
        font-size: 14px;
    }
    .result{
        flex-wrap: wrap;
    }
}